In [4]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup as soup
import requests

# get the urls we need (1 per season)
base_url = "https://www.11v11.com"
main_url = base_url + "/competitions/premier-league/"
urls = [main_url + str(i+1993) + "/matches/" for i in range(26)]

# get the page html
response = requests.get(urls[0], headers={'User-Agent': 'Custom'})
page = soup(response.content, "html.parser")

In [9]:
scores = page.findAll('td',{'class':'score'})
print(len(scores)) #462, therefore total page requests around 462 matches per season * 25 seasons ~= 11500

462

In [34]:
month_matches = page.findAll('tbody',{'class':'alternate'})

In [47]:
def select_data_and_correct_link(game_block,i,total_tally):
    data = game_block.findAll('td')
    date = data[0].text
    teamA = data[1].text
    links = data[2].findAll('a')
    link = links[total_tally + i]['href']
    score = data[2].text
    teamB = data[3].text
    return (date, teamA, teamB, score, link)

In [48]:
def get_month_data(game_blocks,total_tally):
    all_data = []
    for i in range(len(game_blocks)):
        game_block = game_blocks[i]
        next_data = select_data_and_correct_link(game_block,i,total_tally)
        all_data.append(next_data)
    return all_data

In [49]:
def get_year_data(games_by_month):
    all_data = []
    total_tally = 0
    for i in range(len(games_by_month)):
        month_blocks = games_by_month[i].findAll('tr')
        month_data = get_month_data(month_blocks,total_tally)
        all_data.extend(month_data)
        total_tally += len(month_blocks)
    return all_data

In [50]:
all_data = get_year_data(month_matches)
print(all_data[37])

('25 Aug 1992', 'Leeds United', 'Tottenham Hotspur', '5:0', '/matches/leeds-united-v-tottenham-hotspur-25-august-1992-20824/')

In [51]:
print(all_data[-1])

('11 May 1993', 'Queens Park Rangers', 'Sheffield Wednesday', '3:1', '/matches/queens-park-rangers-v-sheffield-wednesday-11-may-1993-21248/')

In [53]:
def get_all_years_data(urls):
    all_years_data = []
    for i in range(len(urls)):
        print("Beginning year {}".format(i + 1993))
        url = urls[i]
        response = requests.get(url, headers={'User-Agent': 'Custom'})
        page = soup(response.content, "html.parser")
        all_matches_by_month = page.findAll('tbody',{'class':'alternate'})
        all_data = get_year_data(all_matches_by_month)
        all_years_data.extend(all_data)
        print("Ending year {}".format(i + 1993))
    return all_years_data

In [54]:
all_years_data = get_all_years_data(urls)
len(all_years_data)

Beginning year 1993
Ending year 1993
Beginning year 1994
Ending year 1994
Beginning year 1995
Ending year 1995
Beginning year 1996
Ending year 1996
Beginning year 1997
Ending year 1997
Beginning year 1998
Ending year 1998
Beginning year 1999
Ending year 1999
Beginning year 2000
Ending year 2000
Beginning year 2001
Ending year 2001
Beginning year 2002
Ending year 2002
Beginning year 2003
Ending year 2003
Beginning year 2004
Ending year 2004
Beginning year 2005
Ending year 2005
Beginning year 2006
Ending year 2006
Beginning year 2007
Ending year 2007
Beginning year 2008
Ending year 2008
Beginning year 2009
Ending year 2009
Beginning year 2010
Ending year 2010
Beginning year 2011
Ending year 2011
Beginning year 2012
Ending year 2012
Beginning year 2013
Ending year 2013
Beginning year 2014
Ending year 2014
Beginning year 2015
Ending year 2015
Beginning year 2016
Ending year 2016
Beginning year 2017
Ending year 2017
Beginning year 2018
Ending year 2018

10126

In [55]:
df = pd.DataFrame(data=all_years_data,columns=['Date','Home Team','Away Team','Score','Data Link'])

In [56]:
df.to_csv("all_years_data_links.csv",index=False)