In [1]:
import pandas as pd
import time
import numpy as np

In [2]:
games = pd.read_csv("full_initial_dataset_for_model.csv")

In [3]:
games.head()

,hPos,hGSPG,hGCPG,hCSPG,hPtsPG,aPos,aGSPG,aGCPG,aCSPG,aPtsPG,target
0,1.0,0.0,0.0,0.0,0.0,14.0,0.0,0.0,0.0,0.0,0
1,4.0,0.0,0.0,0.0,0.0,16.0,0.0,0.0,0.0,0.0,1
2,5.0,0.0,0.0,0.0,0.0,13.0,0.0,0.0,0.0,0.0,3
3,6.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,1
4,7.0,0.0,0.0,0.0,0.0,19.0,0.0,0.0,0.0,0.0,1

In [5]:
corr_matrix = games.corr(method = 'pearson')
corr_matrix['target'].sort_values(ascending=False)

target    1.000000
aPos      0.190260
hPtsPG    0.170576
hGSPG     0.161398
aGCPG     0.138114
hCSPG     0.105538
aCSPG    -0.111667
hGCPG    -0.117654
aGSPG    -0.153821
aPtsPG   -0.166705
hPos     -0.189057
Name: target, dtype: float64

In [8]:
test_df = games.drop(['aPos','aGSPG','aGCPG','aCSPG','aPtsPG'],axis=1)
test_df.columns = ['Pos_diff','GSPG_diff','GCPG_diff','CSPG_diff','PtsPG_diff','target']

def subtract_cols(row,col1,col2):
    return int(int(row[col1]) - int(row[col2]))

test_df['Pos_diff'] = games.apply(subtract_cols,args=('hPos','aPos'),axis=1)
test_df['GSPG_diff'] = games.apply(subtract_cols,args=('hGSPG','aGSPG'),axis=1)
test_df['GCPG_diff'] = games.apply(subtract_cols,args=('hGCPG','aGCPG'),axis=1)
test_df['CSPG_diff'] = games.apply(subtract_cols,args=('hCSPG','aCSPG'),axis=1)
test_df['PtsPG_diff'] = games.apply(subtract_cols,args=('hPtsPG','aPtsPG'),axis=1)

test_df.head()

   Pos_diff  GSPG_diff  GCPG_diff  CSPG_diff  PtsPG_diff  target
0       -13          0          0          0           0       0
1       -12          0          0          0           0       1
2        -8          0          0          0           0       3
3         3          0          0          0           0       1
4       -12          0          0          0           0       1

In [9]:
corr_matrix = test_df.corr(method = 'pearson')

In [11]:
corr_matrix['target'].sort_values(ascending=False)

target        1.000000
PtsPG_diff    0.221291
GSPG_diff     0.192078
CSPG_diff     0.023211
GCPG_diff    -0.177841
Pos_diff     -0.266202
Name: target, dtype: float64

In [12]:
games.to_csv("initial_dataset_v1.csv",index=False)
test_df.to_csv("initial_dataset_v2.csv",index=False)

In [13]:
test2_df = test_df

def multi_to_binary(row):
    target = int(row['target'])
    if target == 3:
        return 1
    else:
        return 0
test2_df['target'] = test2_df.apply(multi_to_binary,axis=1)
test2_df.head()

   Pos_diff  GSPG_diff  GCPG_diff  CSPG_diff  PtsPG_diff  target
0       -13          0          0          0           0       0
1       -12          0          0          0           0       0
2        -8          0          0          0           0       1
3         3          0          0          0           0       0
4       -12          0          0          0           0       0

In [14]:
test2_df.to_csv("initial_dataset_v3.csv",index=False)

In [15]:
binary_v1 = games
binary_v1['target'] = binary_v1.apply(multi_to_binary,axis=1)
binary_v1.head()

,hPos,hGSPG,hGCPG,hCSPG,hPtsPG,aPos,aGSPG,aGCPG,aCSPG,aPtsPG,target
0,1.0,0.0,0.0,0.0,0.0,14.0,0.0,0.0,0.0,0.0,0
1,4.0,0.0,0.0,0.0,0.0,16.0,0.0,0.0,0.0,0.0,0
2,5.0,0.0,0.0,0.0,0.0,13.0,0.0,0.0,0.0,0.0,1
3,6.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0
4,7.0,0.0,0.0,0.0,0.0,19.0,0.0,0.0,0.0,0.0,0

In [16]:
binary_v1.to_csv("initial_dataset_v1.csv",index=False)

In [2]:
import pandas as pd
dfv2 = pd.read_csv("initial_dataset_v2.csv")

def val_to_letter(row):
    target = int(row['target'])
    if target == 3:
        return "H"
    elif target == 1:
        return "D"
    else:
        return "A"
    
def letter_to_val(row):
    target = str(row['target'])
    if target == "H":
        return 3
    elif target == "D":
        return 1
    else:
        return 0
dfv2['target'] = dfv2.apply(letter_to_val,axis=1)
dfv2.to_csv("initial_dataset_v2.csv",index=False)