In [1]:
import pandas as pd
df = pd.read_csv("database_for_models.csv")
df.head()

,season,hPos,hGSPG,hGCPG,hCSPG,hPtsPG,aPos,aGSPG,aGCPG,aCSPG,...,aGD7,hPosLS,aPosLS,hSpent,hIncome,hNet,aSpent,aIncome,aNet,target
0,9,4.0,0.0,0.0,0.0,0.0,13.0,0.0,0.0,0.0,...,0.0,18,18,18.72,0.479,-18.241,18.07,1.320,-16.750,2
1,9,5.0,0.0,0.0,0.0,0.0,20.0,0.0,0.0,0.0,...,0.0,5,9,47.15,34.830,-12.320,8.92,38.160,29.240,2
2,9,6.0,0.0,0.0,0.0,0.0,15.0,0.0,0.0,0.0,...,0.0,14,12,17.10,23.650,6.550,29.52,9.000,-20.520,0
3,9,7.0,0.0,0.0,0.0,0.0,17.0,0.0,0.0,0.0,...,0.0,16,15,11.99,6.260,-5.730,0.00,0.131,0.131,1
4,9,10.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,...,0.0,3,13,47.84,10.920,-36.920,31.03,32.000,0.970,2

In [7]:
df.shape

(6460, 38)

In [3]:
df['season'].unique().tolist()

[9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [4]:
df_test = df.query("season > 23")
df_test.drop("season",axis=1,inplace=True)
df_test.shape

/home/joe/anaconda3/envs/tensorflow/lib/python3.6/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

(760, 37)

In [5]:
df_dev = df.query("season > 19 and season < 24")
df_dev.drop("season",axis=1,inplace=True)
df_dev.shape

/home/joe/anaconda3/envs/tensorflow/lib/python3.6/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

(1520, 37)

In [6]:
df_train = df.query("season < 20")
df_train.drop("season",axis=1,inplace=True)
df_train.shape

/home/joe/anaconda3/envs/tensorflow/lib/python3.6/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

(4180, 37)

In [8]:
4180/6460

0.6470588235294118

In [9]:
df_test.to_csv("dataset_test_set.csv",index=False)

In [10]:
df_dev.to_csv("dataset_dev_set.csv",index=False)

In [11]:
df_train.to_csv("dataset_train_set.csv",index=False)