In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("all_match_data_fix3.csv")

In [7]:
def lower_case(row):
    s = row['Stadium']
    return s.lower()

In [8]:
df['Stadium'] = df.apply(lower_case,axis=1)

In [9]:
def lower_case2(row):
    r = row['Referee']
    return r.lower()

In [10]:
df['Referee'] = df.apply(lower_case2,axis=1)

In [11]:
df.head()

,11v11 ID,Date,Home Team,Away Team,Stadium,Referee,Home Players,Away Players,Home Scorers,Away Scorers
0,20787,15081992,arsenal,norwich city,highbury,alan gunn,"['5(90)', '14(90)', '31(90)', '484(90)', '20(9...","['38002(90)', '24730(90)', '26985(90)', '4690(...","['196', '484']","['511', '2266', '2266', '38680']"
1,20788,15081992,chelsea,oldham athletic,stamford bridge,jim borrett,"['4048(90)', '35852(90)', '24035(90)', '4755(9...","['1388(90)', '34467(90)', '76(90)', '1550(90)'...",['37518'],['1427']
2,20789,15081992,coventry city,middlesbrough,highfield road,howard king,"['151(90)', '6177(90)', '25821(90)', '25248(90...","['25259(90)', '3723(90)', '34052(90)', '3471(9...","['1062', '5386']",['11296']
3,20790,15081992,crystal palace,blackburn rovers,selhurst park,roger milford,"['234(90)', '34632(90)', '36445(90)', '995(81)...","['5223(90)', '27669(90)', '3482(90)', '302(90)...","['43', '2074', '37263']","['362', '362', '448']"
4,20791,15081992,everton,sheffield wednesday,goodison park,kelvin morton,"['2448(90)', '32094(90)', '4172(90)', '188(90)...","['25058(90)', '25496(90)', '15912(90)', '34286...",['400'],['34286']

In [12]:
df.to_csv("all_match_data_fix4.csv",index=False)