In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("main_with_shots.csv")

In [3]:
df.head()

,premid,11id,season,date,home,score,away,ref,stadium,h_scorers,...,hPtsPG,aPos,aGSPG,aGCPG,aCSPG,aPtsPG,hs2,as2,hst2,ast2
0,3287,816,9,2000-08-19,charlton,4-0,man city,rob harris,the valley,"['1481', '1635', '2269', '2473']",...,0.0,13.0,0.0,0.0,0.0,0.0,17.0,8.0,14.0,4.0
1,3288,817,9,2000-08-19,chelsea,4-2,west ham,graham barber,stamford bridge,"['107', '2452', '2452', '3761']",...,0.0,20.0,0.0,0.0,0.0,0.0,17.0,12.0,10.0,5.0
2,3289,818,9,2000-08-19,coventry,1-3,middlesbrough,barry knight,highfield road,['136'],...,0.0,15.0,0.0,0.0,0.0,0.0,6.0,16.0,3.0,9.0
3,3290,819,9,2000-08-19,derby,2-2,southampton,andy d'urso,pride park,"['158', '162']",...,0.0,17.0,0.0,0.0,0.0,0.0,6.0,13.0,4.0,6.0
4,3291,820,9,2000-08-19,leeds,2-0,everton,dermot gallagher,elland road,"['212', '212']",...,0.0,8.0,0.0,0.0,0.0,0.0,17.0,12.0,8.0,6.0

In [22]:
def shots_stats_so_far(row,df,homeBool):
    date = row['date']
    season = row['season']
    df_season = df.query('season == @season')
    games_so_far = df_season[pd.to_datetime(df.date) < pd.to_datetime(date)]
    
    if homeBool:
        team = row['home']
    else:
        team = row['away']
    games_when_home = games_so_far.query("home == @team")
    games_when_away = games_so_far.query("away == @team")
    
    home_shots = sum(games_when_home['hs2'].tolist())
    home_shots_on_target = sum(games_when_home['hst2'].tolist())
    away_shots = sum(games_when_away['as2'].tolist())
    away_shots_on_target = sum(games_when_away['ast2'].tolist())
    total_games = len(games_when_home) + len(games_when_away)
    
    if total_games == 0:
        return 0,0
    
    shots_per_game = round((home_shots + away_shots)/total_games,3)
    on_target_per_game = round((home_shots_on_target + away_shots_on_target)/total_games,3)
    
    return shots_per_game, on_target_per_game

In [23]:
#df[['hSPG','hSTPG']] = df.apply(shots_stats_so_far,args=(df,True),axis=1,result_type='broadcast')
df['hSPG'], df['hSTPG'] = zip(*df.apply(shots_stats_so_far,args=(df,True),axis=1))
df['aSPG'], df['aSTPG'] = zip(*df.apply(shots_stats_so_far,args=(df,False),axis=1))

/home/joe/.local/lib/python3.6/site-packages/ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

In [24]:
df.head(100)

,premid,11id,season,date,home,score,away,ref,stadium,h_scorers,...,aPtsPG,hs2,as2,hst2,ast2,"(hSPG, hSTPG)",hSPG,hSTPG,aSPG,aSTPG
0,3287,816,9,2000-08-19,charlton,4-0,man city,rob harris,the valley,"['1481', '1635', '2269', '2473']",...,0.00,17.0,8.0,14.0,4.0,"(0, 0)",0.000,0.000,0.000,0.000
1,3288,817,9,2000-08-19,chelsea,4-2,west ham,graham barber,stamford bridge,"['107', '2452', '2452', '3761']",...,0.00,17.0,12.0,10.0,5.0,"(0, 0)",0.000,0.000,0.000,0.000
2,3289,818,9,2000-08-19,coventry,1-3,middlesbrough,barry knight,highfield road,['136'],...,0.00,6.0,16.0,3.0,9.0,"(0, 0)",0.000,0.000,0.000,0.000
3,3290,819,9,2000-08-19,derby,2-2,southampton,andy d'urso,pride park,"['158', '162']",...,0.00,6.0,13.0,4.0,6.0,"(0, 0)",0.000,0.000,0.000,0.000
4,3291,820,9,2000-08-19,leeds,2-0,everton,dermot gallagher,elland road,"['212', '212']",...,0.00,17.0,12.0,8.0,6.0,"(0, 0)",0.000,0.000,0.000,0.000
5,3292,821,9,2000-08-19,leicester,0-0,aston villa,mike riley,filbert street,[],...,0.00,5.0,5.0,4.0,3.0,"(0, 0)",0.000,0.000,0.000,0.000
6,3293,822,9,2000-08-19,liverpool,1-0,bradford,paul durkin,anfield,['271'],...,0.00,16.0,3.0,10.0,2.0,"(0, 0)",0.000,0.000,0.000,0.000
7,3295,824,9,2000-08-19,spurs,3-1,ipswich,alan wiley,white hart lane,"['492', '503', '516']",...,0.00,20.0,15.0,6.0,5.0,"(0, 0)",0.000,0.000,0.000,0.000
8,3294,823,9,2000-08-19,sunderland,1-0,arsenal,steve dunn,stadium of light,['478'],...,0.00,8.0,14.0,2.0,7.0,"(0, 0)",0.000,0.000,0.000,0.000
9,3296,827,9,2000-08-20,man utd,2-0,newcastle,stephen lodge,old trafford,"['298', '326']",...,0.00,19.0,9.0,9.0,6.0,"(0, 0)",0.000,0.000,0.000,0.000
10,3297,859,9,2000-08-21,arsenal,2-0,liverpool,graham poll,highbury,"['3758', '29']",...,3.00,17.0,7.0,12.0,4.0,"(14.0, 7.0)",14.000,7.000,16.000,10.000
11,3298,900,9,2000-08-22,bradford,2-0,chelsea,mark halsey,valley parade,"['35', '72']",...,3.00,12.0,14.0,3.0,6.0,"(3.0, 2.0)",3.000,2.000,17.000,10.000
12,3299,901,9,2000-08-22,ipswich,1-1,man utd,jeff winter,portman road,['2677'],...,3.00,13.0,15.0,8.0,6.0,"(15.0, 5.0)",15.000,5.000,19.000,9.000
13,3300,902,9,2000-08-22,middlesbrough,1-1,spurs,peter jones,riverside stadium,['349'],...,3.00,12.0,11.0,6.0,4.0,"(16.0, 9.0)",16.000,9.000,20.000,6.000
14,3301,926,9,2000-08-23,everton,3-0,charlton,neale barry,goodison park,"['192', '370', '370']",...,3.00,13.0,8.0,8.0,4.0,"(12.0, 6.0)",12.000,6.000,17.000,14.000
15,3302,922,9,2000-08-23,man city,4-2,sunderland,david elleray,maine road,"['573', '573', '573', '6238']",...,3.00,15.0,9.0,10.0,4.0,"(8.0, 4.0)",8.000,4.000,8.000,2.000
16,3303,923,9,2000-08-23,newcastle,3-2,derby,dermot gallagher,st james' park,"['391', '589', '3760']",...,1.00,9.0,10.0,4.0,5.0,"(9.0, 6.0)",9.000,6.000,6.000,4.000
17,3304,924,9,2000-08-23,southampton,1-2,coventry,paul taylor,the dell,['437'],...,0.00,12.0,7.0,4.0,5.0,"(13.0, 6.0)",13.000,6.000,6.000,3.000
18,3305,925,9,2000-08-23,west ham,0-1,leicester,rob styles,upton park,[],...,1.00,17.0,4.0,12.0,2.0,"(12.0, 5.0)",12.000,5.000,5.000,4.000
19,3306,965,9,2000-08-26,arsenal,5-3,charlton,stephen lodge,highbury,"['23', '29', '23', '29', '629']",...,1.50,18.0,7.0,9.0,4.0,"(15.5, 9.5)",15.500,9.500,12.500,9.000
20,3307,966,9,2000-08-26,bradford,0-0,leicester,steve bennett,valley parade,[],...,2.00,8.0,13.0,4.0,8.0,"(7.5, 2.5)",7.500,2.500,4.500,3.000
21,3308,967,9,2000-08-26,everton,2-2,derby,mike riley,goodison park,"['192', '3851']",...,0.50,12.0,7.0,9.0,4.0,"(12.5, 7.0)",12.500,7.000,8.000,4.500
22,3309,968,9,2000-08-26,ipswich,1-0,sunderland,graham poll,portman road,['3807'],...,1.50,14.0,9.0,5.0,3.0,"(14.0, 6.5)",14.000,6.500,8.500,3.000
23,3310,969,9,2000-08-26,man city,1-2,coventry,andy d'urso,maine road,['1462'],...,1.50,14.0,9.0,5.0,8.0,"(11.5, 7.0)",11.500,7.000,6.500,4.000
24,3311,970,9,2000-08-26,middlesbrough,1-2,leeds,graham barber,riverside stadium,['355'],...,3.00,15.0,16.0,8.0,11.0,"(14.0, 7.5)",14.000,7.500,17.000,8.000
25,3312,971,9,2000-08-26,newcastle,2-0,spurs,david elleray,st james' park,"['374', '3760']",...,2.00,15.0,10.0,6.0,2.0,"(9.0, 5.0)",9.000,5.000,15.500,5.000
26,3313,982,9,2000-08-26,southampton,3-3,liverpool,jeff winter,the dell,"['441', '441', '6260']",...,1.50,14.0,9.0,7.0,4.0,"(12.5, 5.0)",12.500,5.000,11.500,7.000
27,3314,983,9,2000-08-26,west ham,2-2,man utd,dermot gallagher,upton park,"['6', '571']",...,2.00,17.0,8.0,8.0,5.0,"(14.5, 8.5)",14.500,8.500,17.000,7.500
28,3315,984,9,2000-08-27,aston villa,1-1,chelsea,paul durkin,villa park,['2024'],...,1.50,12.0,11.0,9.0,7.0,"(5.0, 3.0)",5.000,3.000,15.500,8.000
29,3316,1101,9,2000-09-05,leeds,1-2,man city,graham poll,elland road,['227'],...,1.00,6.0,8.0,1.0,3.0,"(16.5, 9.5)",16.500,9.500,12.333,6.333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,3357,1732,9,2000-09-30,charlton,2-2,coventry,rob styles,the valley,"['1481', '6187']",...,1.00,12.0,10.0,8.0,6.0,"(9.0, 5.857142857142857)",9.000,5.857,8.429,3.429
71,3358,1733,9,2000-09-30,everton,0-3,ipswich,jeff winter,goodison park,[],...,1.14,7.0,9.0,3.0,7.0,"(10.714285714285714, 6.428571428571429)",10.714,6.429,13.286,5.571
72,3359,1734,9,2000-09-30,leeds,4-3,spurs,neale barry,elland road,"['212', '212', '3586', '3586']",...,1.57,14.0,10.0,7.0,5.0,"(12.833333333333334, 6.166666666666667)",12.833,6.167,13.571,5.143
73,3360,1735,9,2000-09-30,man city,0-1,newcastle,paul taylor,maine road,[],...,1.43,9.0,15.0,7.0,9.0,"(10.285714285714286, 5.0)",10.286,5.000,11.143,5.429
74,3361,1736,9,2000-09-30,southampton,1-3,middlesbrough,graham poll,the dell,['441'],...,1.00,16.0,7.0,8.0,5.0,"(11.142857142857142, 5.428571428571429)",11.143,5.429,10.429,5.571
75,3362,1737,9,2000-09-30,west ham,1-1,bradford,mike dean,upton park,['564'],...,0.71,14.0,9.0,6.0,6.0,"(14.285714285714286, 7.571428571428571)",14.286,7.571,8.571,4.000
76,3363,1738,9,2000-10-01,arsenal,1-0,man utd,graham barber,highbury,['29'],...,2.14,7.0,13.0,5.0,4.0,"(15.428571428571429, 8.714285714285714)",15.429,8.714,15.143,7.571
77,3364,1739,9,2000-10-01,chelsea,3-0,liverpool,dermot gallagher,stamford bridge,"['3761', '1374']",...,1.71,11.0,10.0,5.0,2.0,"(13.285714285714286, 6.571428571428571)",13.286,6.571,10.714,5.857
78,3365,1740,9,2000-10-01,sunderland,0-0,leicester,stephen lodge,stadium of light,[],...,2.14,11.0,8.0,5.0,2.0,"(10.142857142857142, 4.0)",10.143,4.000,9.714,5.000
79,3366,2013,9,2000-10-14,arsenal,1-0,aston villa,rob harris,highbury,['29'],...,1.71,16.0,8.0,10.0,3.0,"(14.375, 8.25)",14.375,8.250,10.000,5.571
80,3367,2014,9,2000-10-14,coventry,2-1,spurs,peter jones,highfield road,"['135', '136']",...,1.38,0.0,4.0,5.0,5.0,"(8.625, 3.75)",8.625,3.750,13.125,5.125
81,3368,2015,9,2000-10-14,everton,1-1,southampton,david elleray,goodison park,['199'],...,1.12,7.0,7.0,3.0,4.0,"(10.25, 6.0)",10.250,6.000,11.750,5.750
82,3369,2016,9,2000-10-14,ipswich,1-1,west ham,neale barry,portman road,['2460'],...,0.88,11.0,7.0,8.0,2.0,"(12.75, 5.75)",12.750,5.750,14.250,7.375
83,3370,2017,9,2000-10-14,leeds,3-1,charlton,mike dean,elland road,"['212', '3586', '3586']",...,1.50,22.0,10.0,10.0,8.0,"(13.0, 6.285714285714286)",13.000,6.286,9.375,6.125
84,3371,2018,9,2000-10-14,leicester,0-3,man utd,paul durkin,filbert street,[],...,1.88,10.0,16.0,4.0,5.0,"(9.5, 4.625)",9.500,4.625,14.875,7.125
85,3372,2019,9,2000-10-14,man city,2-0,bradford,barry knight,maine road,"['1127', '6238']",...,0.75,13.0,10.0,10.0,2.0,"(10.125, 5.25)",10.125,5.250,8.625,4.250
86,3373,2020,9,2000-10-14,sunderland,1-0,chelsea,jeff winter,stadium of light,['470'],...,1.25,16.0,11.0,11.0,2.0,"(10.25, 4.125)",10.250,4.125,13.000,6.375
87,3374,2021,9,2000-10-15,derby,0-4,liverpool,steve bennett,pride park,[],...,1.50,6.0,16.0,0.0,11.0,"(9.75, 5.25)",9.750,5.250,10.625,5.375
88,3375,2047,9,2000-10-16,middlesbrough,1-3,newcastle,steve dunn,riverside stadium,['336'],...,1.62,8.0,15.0,2.0,8.0,"(10.0, 5.5)",10.000,5.500,11.625,5.875
89,3376,2210,9,2000-10-21,bradford,0-2,ipswich,paul taylor,valley parade,[],...,1.33,7.0,12.0,3.0,3.0,"(8.777777777777779, 4.0)",8.778,4.000,12.556,6.000
90,3377,2211,9,2000-10-21,charlton,1-0,middlesbrough,mike riley,the valley,['2481'],...,1.11,5.0,8.0,2.0,6.0,"(9.444444444444445, 6.333333333333333)",9.444,6.333,9.778,5.111
91,3378,2212,9,2000-10-21,chelsea,6-1,coventry,stephen lodge,stamford bridge,"['107', '126', '3761', '3761', '3761', '3761']",...,1.22,33.0,3.0,19.0,3.0,"(12.777777777777779, 5.888888888888889)",12.778,5.889,7.667,3.889
92,3379,2213,9,2000-10-21,liverpool,1-0,leicester,andy d'urso,anfield,['271'],...,1.78,24.0,8.0,11.0,3.0,"(11.222222222222221, 6.0)",11.222,6.000,9.556,4.556
93,3380,2214,9,2000-10-21,man utd,3-0,leeds,jeff winter,old trafford,['304'],...,1.75,26.0,5.0,14.0,0.0,"(15.0, 6.888888888888889)",15.000,6.889,14.125,6.750
94,3381,2215,9,2000-10-21,newcastle,0-1,everton,mark halsey,st james' park,[],...,1.00,11.0,9.0,4.0,4.0,"(12.0, 6.111111111111111)",12.000,6.111,9.889,5.667
95,3382,2216,9,2000-10-21,spurs,3-1,derby,mike dean,white hart lane,"['508', '508', '516']",...,0.56,18.0,8.0,8.0,7.0,"(12.11111111111111, 5.111111111111111)",12.111,5.111,9.333,4.667
96,3383,2217,9,2000-10-21,west ham,1-2,arsenal,dermot gallagher,upton park,['582'],...,2.00,11.0,13.0,3.0,5.0,"(13.444444444444445, 6.777777777777778)",13.444,6.778,14.556,8.444
97,3384,2218,9,2000-10-22,aston villa,0-0,sunderland,peter jones,villa park,[],...,1.33,17.0,7.0,4.0,3.0,"(9.75, 5.25)",9.750,5.250,10.889,4.889
98,3385,2249,9,2000-10-23,southampton,0-2,man city,alan wiley,the dell,[],...,1.22,19.0,11.0,6.0,4.0,"(11.222222222222221, 5.555555555555555)",11.222,5.556,10.444,5.778
99,3386,2399,9,2000-10-28,arsenal,5-0,man city,rob styles,highbury,"['2', '7', '29', '29', '2683']",...,1.40,22.0,6.0,14.0,2.0,"(14.4, 8.1)",14.400,8.100,10.500,5.600

In [28]:
df.columns

Index([         'premid',            '11id',          'season',
                  'date',            'home',           'score',
                  'away',             'ref',         'stadium',
             'h_scorers',       'a_scorers',       'h_players',
             'a_players',            'hPos',           'hGSPG',
                 'hGCPG',           'hCSPG',          'hPtsPG',
                  'aPos',           'aGSPG',           'aGCPG',
                 'aCSPG',          'aPtsPG',             'hs2',
                   'as2',            'hst2',            'ast2',
       ('hSPG', 'hSTPG'),            'hSPG',           'hSTPG',
                  'aSPG',           'aSTPG'],
      dtype='object')

In [29]:
df.drop(('hSPG', 'hSTPG'),axis=1,inplace=True)

In [30]:
df.head()

,premid,11id,season,date,home,score,away,ref,stadium,h_scorers,...,aCSPG,aPtsPG,hs2,as2,hst2,ast2,hSPG,hSTPG,aSPG,aSTPG
0,3287,816,9,2000-08-19,charlton,4-0,man city,rob harris,the valley,"['1481', '1635', '2269', '2473']",...,0.0,0.0,17.0,8.0,14.0,4.0,0.0,0.0,0.0,0.0
1,3288,817,9,2000-08-19,chelsea,4-2,west ham,graham barber,stamford bridge,"['107', '2452', '2452', '3761']",...,0.0,0.0,17.0,12.0,10.0,5.0,0.0,0.0,0.0,0.0
2,3289,818,9,2000-08-19,coventry,1-3,middlesbrough,barry knight,highfield road,['136'],...,0.0,0.0,6.0,16.0,3.0,9.0,0.0,0.0,0.0,0.0
3,3290,819,9,2000-08-19,derby,2-2,southampton,andy d'urso,pride park,"['158', '162']",...,0.0,0.0,6.0,13.0,4.0,6.0,0.0,0.0,0.0,0.0
4,3291,820,9,2000-08-19,leeds,2-0,everton,dermot gallagher,elland road,"['212', '212']",...,0.0,0.0,17.0,12.0,8.0,6.0,0.0,0.0,0.0,0.0

In [31]:
def shooting_percentage(row,homeBool):
    if homeBool:
        SPG = int(row['hSPG'])
        GPG = int(row['hGSPG'])
    else:
        SPG = int(row['aSPG'])
        GPG = int(row['aGSPG'])
    if SPG == 0:
        return 0
    else:
        return round(GPG/SPG,3)

In [32]:
df['hS%'] = df.apply(shooting_percentage,args=(True,),axis=1)
df['aS%'] = df.apply(shooting_percentage,args=(False,),axis=1)

In [33]:
df.head()

,premid,11id,season,date,home,score,away,ref,stadium,h_scorers,...,hs2,as2,hst2,ast2,hSPG,hSTPG,aSPG,aSTPG,hS%,aS%
0,3287,816,9,2000-08-19,charlton,4-0,man city,rob harris,the valley,"['1481', '1635', '2269', '2473']",...,17.0,8.0,14.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3288,817,9,2000-08-19,chelsea,4-2,west ham,graham barber,stamford bridge,"['107', '2452', '2452', '3761']",...,17.0,12.0,10.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3289,818,9,2000-08-19,coventry,1-3,middlesbrough,barry knight,highfield road,['136'],...,6.0,16.0,3.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3290,819,9,2000-08-19,derby,2-2,southampton,andy d'urso,pride park,"['158', '162']",...,6.0,13.0,4.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3291,820,9,2000-08-19,leeds,2-0,everton,dermot gallagher,elland road,"['212', '212']",...,17.0,12.0,8.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
df.columns

Index(['premid', '11id', 'season', 'date', 'home', 'score', 'away', 'ref',
       'stadium', 'h_scorers', 'a_scorers', 'h_players', 'a_players', 'hPos',
       'hGSPG', 'hGCPG', 'hCSPG', 'hPtsPG', 'aPos', 'aGSPG', 'aGCPG', 'aCSPG',
       'aPtsPG', 'hs2', 'as2', 'hst2', 'ast2', 'hSPG', 'hSTPG', 'aSPG',
       'aSTPG', 'hS%', 'aS%'],
      dtype='object')

In [35]:
df.drop(['premid','11id','ref','stadium','h_scorers','a_scorers','h_players','a_players'],axis=1,inplace=True)

In [36]:
df.head()

,season,date,home,score,away,hPos,hGSPG,hGCPG,hCSPG,hPtsPG,...,hs2,as2,hst2,ast2,hSPG,hSTPG,aSPG,aSTPG,hS%,aS%
0,9,2000-08-19,charlton,4-0,man city,4.0,0.0,0.0,0.0,0.0,...,17.0,8.0,14.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0
1,9,2000-08-19,chelsea,4-2,west ham,5.0,0.0,0.0,0.0,0.0,...,17.0,12.0,10.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0
2,9,2000-08-19,coventry,1-3,middlesbrough,6.0,0.0,0.0,0.0,0.0,...,6.0,16.0,3.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0
3,9,2000-08-19,derby,2-2,southampton,7.0,0.0,0.0,0.0,0.0,...,6.0,13.0,4.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0
4,9,2000-08-19,leeds,2-0,everton,10.0,0.0,0.0,0.0,0.0,...,17.0,12.0,8.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
df.to_csv("main_feature_database.csv",index=False)