In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("football-data-raw.csv")

In [3]:
df.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,Referee,HS,AS,HST,...,BSH,BSD,BSA,BbMxH,BbAvH,BbMxD,BbAvD,BbMxA,BbAvA,BbOU
0,14/08/93,Arsenal,Coventry,0.0,3.0,A,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,14/08/93,Aston Villa,QPR,4.0,1.0,H,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,14/08/93,Chelsea,Blackburn,1.0,2.0,A,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,14/08/93,Liverpool,Sheffield Weds,2.0,0.0,H,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14/08/93,Man City,Leeds,1.0,1.0,D,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
str(pd.to_datetime(df.iloc[0].Date,format='%d/%m/%y'))[0:10]

'1993-08-14'

In [5]:
def fix_date_column(row):
    date = str(row['date'])
    try:
        return str(pd.to_datetime(date,format='%d/%m/%y'))[0:10]
    except ValueError:
        return str(pd.to_datetime(date,format='%d/%m/%Y'))[0:10]

def fix_team_column(row,col):
    team = row[col]
    if team == "Sheffield United":
        return "sheffield utd"
    elif team == "Man United":
        return "man utd"
    elif team == "Tottenham":
        return "spurs"
    elif team == "Nott'm Forest":
        return "nottingham forest"
    elif team == "Middlesboro":
        return "middlesbrough"
    else:
        return str(team).lower()

In [6]:
df.columns = [str(x).lower() for x in list(df.columns.values)]

In [7]:
df['date'] = df.apply(fix_date_column,axis=1)

In [8]:
df['hometeam'] = df.apply(fix_team_column,args=('hometeam',),axis=1)

In [9]:
df['awayteam'] = df.apply(fix_team_column,args=('awayteam',),axis=1)

In [10]:
df.head()

,date,hometeam,awayteam,fthg,ftag,ftr,referee,hs,as,hst,...,bsh,bsd,bsa,bbmxh,bbavh,bbmxd,bbavd,bbmxa,bbava,bbou
0,1993-08-14,arsenal,coventry,0.0,3.0,A,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-08-14,aston villa,qpr,4.0,1.0,H,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-08-14,chelsea,blackburn,1.0,2.0,A,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-08-14,liverpool,sheffield weds,2.0,0.0,H,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-08-14,man city,leeds,1.0,1.0,D,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df.sort_values(by=['date','hometeam'],inplace=True)

In [12]:
df.shape

(10361, 56)

In [13]:
df.dropna(inplace=True,subset=['fthg'])

In [14]:
df.shape

(9664, 56)

In [15]:
df.fillna(0,inplace=True)

In [16]:
df.tail(100)

,date,hometeam,awayteam,fthg,ftag,ftr,referee,hs,as,hst,...,bsh,bsd,bsa,bbmxh,bbavh,bbmxd,bbavd,bbmxa,bbava,bbou
10261,2018-03-03,burnley,everton,2.0,1.0,H,C Kavanagh,21.0,10.0,8.0,...,0.0,0.0,0.0,2.60,2.48,3.30,3.04,3.45,3.26,33.0
10262,2018-03-03,leicester,bournemouth,1.0,1.0,D,L Probert,23.0,8.0,4.0,...,0.0,0.0,0.0,1.92,1.85,3.90,3.70,4.57,4.32,35.0
10263,2018-03-03,liverpool,newcastle,2.0,0.0,H,G Scott,14.0,7.0,3.0,...,0.0,0.0,0.0,1.25,1.21,7.75,6.95,17.00,13.84,30.0
10264,2018-03-03,southampton,stoke,0.0,0.0,D,A Taylor,18.0,12.0,6.0,...,0.0,0.0,0.0,1.85,1.74,3.90,3.67,5.50,5.16,36.0
10266,2018-03-03,spurs,huddersfield,2.0,0.0,H,K Friend,15.0,3.0,7.0,...,0.0,0.0,0.0,1.25,1.19,8.07,7.18,20.00,16.27,34.0
10265,2018-03-03,swansea,west ham,4.0,1.0,H,M Atkinson,9.0,7.0,8.0,...,0.0,0.0,0.0,2.65,2.55,3.30,3.17,3.15,2.98,35.0
10267,2018-03-03,watford,west brom,1.0,0.0,H,P Tierney,15.0,9.0,4.0,...,0.0,0.0,0.0,2.22,2.13,3.42,3.29,4.00,3.73,35.0
10268,2018-03-04,brighton,arsenal,2.0,1.0,H,S Attwell,13.0,15.0,6.0,...,0.0,0.0,0.0,4.40,3.94,3.80,3.67,2.02,1.93,35.0
10269,2018-03-04,man city,chelsea,1.0,0.0,H,M Oliver,13.0,3.0,3.0,...,0.0,0.0,0.0,1.65,1.60,4.35,4.14,6.07,5.63,35.0
10270,2018-03-05,crystal palace,man utd,2.0,3.0,A,N Swarbrick,10.0,17.0,4.0,...,0.0,0.0,0.0,7.00,6.47,4.30,4.05,1.61,1.56,35.0
10271,2018-03-10,chelsea,crystal palace,2.0,1.0,H,A Taylor,27.0,9.0,11.0,...,0.0,0.0,0.0,1.33,1.30,6.00,5.54,13.00,11.00,37.0
10272,2018-03-10,everton,brighton,2.0,0.0,H,R East,13.0,10.0,3.0,...,0.0,0.0,0.0,2.26,2.19,3.30,3.19,3.89,3.65,36.0
10273,2018-03-10,huddersfield,swansea,0.0,0.0,D,M Oliver,30.0,0.0,4.0,...,0.0,0.0,0.0,2.60,2.49,3.20,3.08,3.37,3.16,35.0
10274,2018-03-10,man utd,liverpool,2.0,1.0,H,C Pawson,5.0,14.0,2.0,...,0.0,0.0,0.0,2.81,2.70,3.40,3.30,2.82,2.71,38.0
10275,2018-03-10,newcastle,southampton,3.0,0.0,H,A Marriner,7.0,6.0,5.0,...,0.0,0.0,0.0,2.85,2.74,3.23,3.12,2.90,2.79,36.0
10276,2018-03-10,west brom,leicester,1.0,4.0,A,R Madley,6.0,14.0,2.0,...,0.0,0.0,0.0,3.12,2.97,3.30,3.19,2.67,2.54,36.0
10277,2018-03-10,west ham,burnley,0.0,3.0,A,L Mason,13.0,7.0,4.0,...,0.0,0.0,0.0,2.35,2.27,3.40,3.15,3.70,3.51,35.0
10278,2018-03-11,arsenal,watford,3.0,0.0,H,M Atkinson,11.0,11.0,7.0,...,0.0,0.0,0.0,1.52,1.47,5.00,4.62,7.50,6.67,36.0
10279,2018-03-11,bournemouth,spurs,1.0,4.0,A,M Dean,14.0,12.0,3.0,...,0.0,0.0,0.0,6.50,6.09,4.70,4.47,1.56,1.52,35.0
10280,2018-03-12,stoke,man city,0.0,2.0,A,J Moss,3.0,17.0,0.0,...,0.0,0.0,0.0,15.00,13.18,7.00,6.47,1.27,1.23,32.0
10281,2018-03-17,bournemouth,west brom,2.0,1.0,H,G Scott,17.0,11.0,5.0,...,0.0,0.0,0.0,1.91,1.84,3.75,3.54,5.00,4.56,41.0
10282,2018-03-17,huddersfield,crystal palace,0.0,2.0,A,M Dean,6.0,17.0,2.0,...,0.0,0.0,0.0,3.00,2.88,3.26,3.12,2.77,2.65,39.0
10283,2018-03-17,liverpool,watford,5.0,0.0,H,A Taylor,13.0,4.0,10.0,...,0.0,0.0,0.0,1.22,1.19,8.12,7.39,19.00,15.40,32.0
10284,2018-03-17,stoke,everton,1.0,2.0,A,M Atkinson,9.0,17.0,4.0,...,0.0,0.0,0.0,2.55,2.45,3.36,3.23,3.20,3.07,38.0
10285,2018-03-31,brighton,leicester,0.0,2.0,A,C Kavanagh,15.0,6.0,3.0,...,0.0,0.0,0.0,2.90,2.75,3.26,3.15,2.87,2.73,37.0
10286,2018-03-31,crystal palace,liverpool,1.0,2.0,A,N Swarbrick,6.0,16.0,3.0,...,0.0,0.0,0.0,7.20,6.26,4.82,4.41,1.57,1.52,36.0
10287,2018-03-31,everton,man city,1.0,3.0,A,P Tierney,6.0,18.0,2.0,...,0.0,0.0,0.0,10.50,9.14,5.50,5.12,1.39,1.35,36.0
10288,2018-03-31,man utd,swansea,2.0,0.0,H,R Madley,11.0,3.0,5.0,...,0.0,0.0,0.0,1.29,1.24,7.02,6.09,16.50,13.32,37.0
10289,2018-03-31,newcastle,huddersfield,1.0,0.0,H,M Atkinson,18.0,4.0,3.0,...,0.0,0.0,0.0,1.80,1.75,3.69,3.52,5.60,5.19,37.0
10290,2018-03-31,watford,bournemouth,2.0,2.0,D,A Marriner,16.0,13.0,5.0,...,0.0,0.0,0.0,2.42,2.32,3.51,3.39,3.27,3.12,38.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10331,2018-04-28,swansea,chelsea,0.0,1.0,A,J Moss,10.0,11.0,3.0,...,0.0,0.0,0.0,7.60,6.97,4.54,4.23,1.55,1.50,42.0
10332,2018-04-29,man utd,arsenal,2.0,1.0,H,K Friend,17.0,8.0,3.0,...,0.0,0.0,0.0,1.50,1.44,5.00,4.64,8.50,7.64,39.0
10333,2018-04-29,west ham,man city,1.0,4.0,A,N Swarbrick,4.0,19.0,1.0,...,0.0,0.0,0.0,11.04,9.79,5.88,5.44,1.40,1.32,39.0
10334,2018-04-30,spurs,watford,2.0,0.0,H,M Oliver,13.0,13.0,3.0,...,0.0,0.0,0.0,1.18,1.15,9.15,8.03,23.80,18.87,35.0
10335,2018-05-04,brighton,man utd,1.0,0.0,H,C Pawson,11.0,16.0,4.0,...,0.0,0.0,0.0,4.80,4.54,3.65,3.53,1.91,1.86,41.0
10336,2018-05-05,bournemouth,swansea,1.0,0.0,H,K Friend,13.0,12.0,5.0,...,0.0,0.0,0.0,2.30,2.10,3.62,3.50,3.75,3.54,42.0
10337,2018-05-05,everton,southampton,1.0,1.0,D,J Moss,9.0,11.0,3.0,...,0.0,0.0,0.0,3.00,2.88,3.40,3.24,2.70,2.58,39.0
10338,2018-05-05,leicester,west ham,0.0,2.0,A,C Kavanagh,13.0,13.0,2.0,...,0.0,0.0,0.0,2.32,2.23,3.60,3.39,3.48,3.30,42.0
10339,2018-05-05,stoke,crystal palace,1.0,2.0,A,M Atkinson,7.0,13.0,2.0,...,0.0,0.0,0.0,2.75,2.65,3.43,3.31,2.91,2.74,42.0
10340,2018-05-05,watford,newcastle,2.0,1.0,H,R East,11.0,9.0,8.0,...,0.0,0.0,0.0,2.45,2.37,3.41,3.29,3.30,3.14,40.0
10341,2018-05-05,west brom,spurs,1.0,0.0,H,M Jones,9.0,18.0,1.0,...,0.0,0.0,0.0,8.50,7.54,5.30,4.66,1.48,1.43,39.0
10342,2018-05-06,arsenal,burnley,5.0,0.0,H,A Marriner,16.0,6.0,8.0,...,0.0,0.0,0.0,1.60,1.55,4.46,4.21,7.00,6.14,37.0
10343,2018-05-06,chelsea,liverpool,1.0,0.0,H,A Taylor,12.0,10.0,4.0,...,0.0,0.0,0.0,2.32,2.23,3.70,3.51,3.40,3.23,41.0
10344,2018-05-06,man city,huddersfield,0.0,0.0,D,M Dean,15.0,5.0,2.0,...,0.0,0.0,0.0,1.12,1.09,14.00,11.57,34.00,28.00,37.0
10345,2018-05-08,swansea,southampton,0.0,1.0,A,M Oliver,11.0,13.0,3.0,...,0.0,0.0,0.0,3.15,3.04,3.33,3.20,2.61,2.50,39.0
10346,2018-05-09,chelsea,huddersfield,1.0,1.0,D,L Mason,22.0,3.0,5.0,...,0.0,0.0,0.0,1.21,1.18,8.50,7.37,21.00,17.21,39.0
10347,2018-05-09,leicester,arsenal,3.0,1.0,H,G Scott,19.0,14.0,10.0,...,0.0,0.0,0.0,3.79,3.62,4.00,3.78,2.05,1.98,39.0
10348,2018-05-09,man city,brighton,3.0,1.0,H,P Tierney,19.0,6.0,7.0,...,0.0,0.0,0.0,1.15,1.13,11.00,9.25,27.00,21.80,37.0
10349,2018-05-09,spurs,newcastle,1.0,0.0,H,N Swarbrick,11.0,14.0,7.0,...,0.0,0.0,0.0,1.21,1.18,8.50,7.57,18.00,15.42,37.0
10350,2018-05-10,west ham,man utd,0.0,0.0,D,J Moss,9.0,16.0,2.0,...,0.0,0.0,0.0,4.75,4.46,3.90,3.74,1.87,1.80,41.0
10351,2018-05-13,burnley,bournemouth,1.0,2.0,A,P Tierney,12.0,16.0,4.0,...,0.0,0.0,0.0,2.28,2.18,3.60,3.42,3.70,3.37,40.0
10352,2018-05-13,crystal palace,west brom,2.0,0.0,H,J Moss,11.0,7.0,5.0,...,0.0,0.0,0.0,1.85,1.75,4.10,3.82,5.00,4.63,38.0
10353,2018-05-13,huddersfield,arsenal,0.0,1.0,A,M Oliver,18.0,9.0,3.0,...,0.0,0.0,0.0,6.05,5.58,4.58,4.31,1.65,1.58,37.0
10354,2018-05-13,liverpool,brighton,4.0,0.0,H,K Friend,22.0,2.0,11.0,...,0.0,0.0,0.0,1.23,1.19,8.00,7.25,19.00,14.69,34.0
10355,2018-05-13,man utd,watford,1.0,0.0,H,L Mason,7.0,7.0,1.0,...,0.0,0.0,0.0,1.43,1.37,6.00,5.12,11.00,8.21,37.0
10356,2018-05-13,newcastle,chelsea,3.0,0.0,H,M Atkinson,16.0,6.0,6.0,...,0.0,0.0,0.0,6.60,5.83,4.40,4.05,1.70,1.59,40.0
10357,2018-05-13,southampton,man city,0.0,1.0,A,A Marriner,8.0,13.0,3.0,...,0.0,0.0,0.0,9.00,7.39,5.15,4.82,1.46,1.42,36.0
10359,2018-05-13,spurs,leicester,5.0,4.0,H,C Pawson,14.0,16.0,6.0,...,0.0,0.0,0.0,1.35,1.31,6.25,5.74,10.50,9.13,35.0
10358,2018-05-13,swansea,stoke,1.0,2.0,A,A Taylor,26.0,8.0,11.0,...,0.0,0.0,0.0,1.98,1.89,3.90,3.67,4.35,4.08,38.0
10360,2018-05-13,west ham,everton,3.0,1.0,H,G Scott,15.0,14.0,4.0,...,0.0,0.0,0.0,2.45,2.37,3.52,3.39,3.21,3.04,39.0

In [17]:
df.reset_index(drop=True,inplace=True)

In [18]:
df.head()

,date,hometeam,awayteam,fthg,ftag,ftr,referee,hs,as,hst,...,bsh,bsd,bsa,bbmxh,bbavh,bbmxd,bbavd,bbmxa,bbava,bbou
0,1993-08-14,arsenal,coventry,0.0,3.0,A,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1993-08-14,aston villa,qpr,4.0,1.0,H,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1993-08-14,chelsea,blackburn,1.0,2.0,A,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1993-08-14,liverpool,sheffield weds,2.0,0.0,H,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1993-08-14,man city,leeds,1.0,1.0,D,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
df.to_csv("football-data-cleaned.csv",index=False)