In [1]:
import pandas as pd
df1 = pd.read_csv("main_2000_onwards.csv")
df2 = pd.read_csv("football_2000_onwards.csv")
df1.shape

(6840, 23)

In [2]:
df1.head()

,premid,11id,season,date,home,score,away,ref,stadium,h_scorers,...,hPos,hGSPG,hGCPG,hCSPG,hPtsPG,aPos,aGSPG,aGCPG,aCSPG,aPtsPG
0,3287,816,9,2000-08-19,charlton,4-0,man city,rob harris,the valley,"['1481', '1635', '2269', '2473']",...,4.0,0.0,0.0,0.0,0.0,13.0,0.0,0.0,0.0,0.0
1,3288,817,9,2000-08-19,chelsea,4-2,west ham,graham barber,stamford bridge,"['107', '2452', '2452', '3761']",...,5.0,0.0,0.0,0.0,0.0,20.0,0.0,0.0,0.0,0.0
2,3289,818,9,2000-08-19,coventry,1-3,middlesbrough,barry knight,highfield road,['136'],...,6.0,0.0,0.0,0.0,0.0,15.0,0.0,0.0,0.0,0.0
3,3290,819,9,2000-08-19,derby,2-2,southampton,andy d'urso,pride park,"['158', '162']",...,7.0,0.0,0.0,0.0,0.0,17.0,0.0,0.0,0.0,0.0
4,3291,820,9,2000-08-19,leeds,2-0,everton,dermot gallagher,elland road,"['212', '212']",...,10.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0

In [3]:
df2.head()

        date2     home2 score2          away2   hs2   as2  hst2  ast2
0  2000-08-19  charlton    4-0       man city  17.0   8.0  14.0   4.0
1  2000-08-19   chelsea    4-2       west ham  17.0  12.0  10.0   5.0
2  2000-08-19  coventry    1-3  middlesbrough   6.0  16.0   3.0   9.0
3  2000-08-19     derby    2-2    southampton   6.0  13.0   4.0   6.0
4  2000-08-19     leeds    2-0        everton  17.0  12.0   8.0   6.0

In [4]:
df = pd.concat([df1,df2],axis=1)

In [5]:
df.head()

,premid,11id,season,date,home,score,away,ref,stadium,h_scorers,...,aCSPG,aPtsPG,date2,home2,score2,away2,hs2,as2,hst2,ast2
0,3287,816,9,2000-08-19,charlton,4-0,man city,rob harris,the valley,"['1481', '1635', '2269', '2473']",...,0.0,0.0,2000-08-19,charlton,4-0,man city,17.0,8.0,14.0,4.0
1,3288,817,9,2000-08-19,chelsea,4-2,west ham,graham barber,stamford bridge,"['107', '2452', '2452', '3761']",...,0.0,0.0,2000-08-19,chelsea,4-2,west ham,17.0,12.0,10.0,5.0
2,3289,818,9,2000-08-19,coventry,1-3,middlesbrough,barry knight,highfield road,['136'],...,0.0,0.0,2000-08-19,coventry,1-3,middlesbrough,6.0,16.0,3.0,9.0
3,3290,819,9,2000-08-19,derby,2-2,southampton,andy d'urso,pride park,"['158', '162']",...,0.0,0.0,2000-08-19,derby,2-2,southampton,6.0,13.0,4.0,6.0
4,3291,820,9,2000-08-19,leeds,2-0,everton,dermot gallagher,elland road,"['212', '212']",...,0.0,0.0,2000-08-19,leeds,2-0,everton,17.0,12.0,8.0,6.0

In [6]:
def cols_agree(row,col1,col2):
    return (str(row[col1]) == str(row[col2]))

In [7]:
df['home_agree'] = df.apply(cols_agree,args=('home','home2'),axis=1)
df['away_agree'] = df.apply(cols_agree,args=('away','away2'),axis=1)
df['score_agree'] = df.apply(cols_agree,args=('score','score2'),axis=1)
df['date_agree'] = df.apply(cols_agree,args=('date','date2'),axis=1)

In [8]:
def cols_agree(row,col1,col2):
    return (str(row[col1]) == str(row[col2]))
df['home_agree'] = df.apply(cols_agree,args=('home','home2'),axis=1)
df['home_agree'].value_counts()

True    6840
Name: home_agree, dtype: int64

In [9]:
df['away_agree'].value_counts()

True    6840
Name: away_agree, dtype: int64

In [10]:
df['score_agree'].value_counts()

True    6840
Name: score_agree, dtype: int64

In [11]:
df['date_agree'].value_counts()

True    6840
Name: date_agree, dtype: int64

In [12]:
df.head(100)

,premid,11id,season,date,home,score,away,ref,stadium,h_scorers,...,score2,away2,hs2,as2,hst2,ast2,home_agree,away_agree,score_agree,date_agree
0,3287,816,9,2000-08-19,charlton,4-0,man city,rob harris,the valley,"['1481', '1635', '2269', '2473']",...,4-0,man city,17.0,8.0,14.0,4.0,True,True,True,True
1,3288,817,9,2000-08-19,chelsea,4-2,west ham,graham barber,stamford bridge,"['107', '2452', '2452', '3761']",...,4-2,west ham,17.0,12.0,10.0,5.0,True,True,True,True
2,3289,818,9,2000-08-19,coventry,1-3,middlesbrough,barry knight,highfield road,['136'],...,1-3,middlesbrough,6.0,16.0,3.0,9.0,True,True,True,True
3,3290,819,9,2000-08-19,derby,2-2,southampton,andy d'urso,pride park,"['158', '162']",...,2-2,southampton,6.0,13.0,4.0,6.0,True,True,True,True
4,3291,820,9,2000-08-19,leeds,2-0,everton,dermot gallagher,elland road,"['212', '212']",...,2-0,everton,17.0,12.0,8.0,6.0,True,True,True,True
5,3292,821,9,2000-08-19,leicester,0-0,aston villa,mike riley,filbert street,[],...,0-0,aston villa,5.0,5.0,4.0,3.0,True,True,True,True
6,3293,822,9,2000-08-19,liverpool,1-0,bradford,paul durkin,anfield,['271'],...,1-0,bradford,16.0,3.0,10.0,2.0,True,True,True,True
7,3295,824,9,2000-08-19,spurs,3-1,ipswich,alan wiley,white hart lane,"['492', '503', '516']",...,3-1,ipswich,20.0,15.0,6.0,5.0,True,True,True,True
8,3294,823,9,2000-08-19,sunderland,1-0,arsenal,steve dunn,stadium of light,['478'],...,1-0,arsenal,8.0,14.0,2.0,7.0,True,True,True,True
9,3296,827,9,2000-08-20,man utd,2-0,newcastle,stephen lodge,old trafford,"['298', '326']",...,2-0,newcastle,19.0,9.0,9.0,6.0,True,True,True,True
10,3297,859,9,2000-08-21,arsenal,2-0,liverpool,graham poll,highbury,"['3758', '29']",...,2-0,liverpool,17.0,7.0,12.0,4.0,True,True,True,True
11,3298,900,9,2000-08-22,bradford,2-0,chelsea,mark halsey,valley parade,"['35', '72']",...,2-0,chelsea,12.0,14.0,3.0,6.0,True,True,True,True
12,3299,901,9,2000-08-22,ipswich,1-1,man utd,jeff winter,portman road,['2677'],...,1-1,man utd,13.0,15.0,8.0,6.0,True,True,True,True
13,3300,902,9,2000-08-22,middlesbrough,1-1,spurs,peter jones,riverside stadium,['349'],...,1-1,spurs,12.0,11.0,6.0,4.0,True,True,True,True
14,3301,926,9,2000-08-23,everton,3-0,charlton,neale barry,goodison park,"['192', '370', '370']",...,3-0,charlton,13.0,8.0,8.0,4.0,True,True,True,True
15,3302,922,9,2000-08-23,man city,4-2,sunderland,david elleray,maine road,"['573', '573', '573', '6238']",...,4-2,sunderland,15.0,9.0,10.0,4.0,True,True,True,True
16,3303,923,9,2000-08-23,newcastle,3-2,derby,dermot gallagher,st james' park,"['391', '589', '3760']",...,3-2,derby,9.0,10.0,4.0,5.0,True,True,True,True
17,3304,924,9,2000-08-23,southampton,1-2,coventry,paul taylor,the dell,['437'],...,1-2,coventry,12.0,7.0,4.0,5.0,True,True,True,True
18,3305,925,9,2000-08-23,west ham,0-1,leicester,rob styles,upton park,[],...,0-1,leicester,17.0,4.0,12.0,2.0,True,True,True,True
19,3306,965,9,2000-08-26,arsenal,5-3,charlton,stephen lodge,highbury,"['23', '29', '23', '29', '629']",...,5-3,charlton,18.0,7.0,9.0,4.0,True,True,True,True
20,3307,966,9,2000-08-26,bradford,0-0,leicester,steve bennett,valley parade,[],...,0-0,leicester,8.0,13.0,4.0,8.0,True,True,True,True
21,3308,967,9,2000-08-26,everton,2-2,derby,mike riley,goodison park,"['192', '3851']",...,2-2,derby,12.0,7.0,9.0,4.0,True,True,True,True
22,3309,968,9,2000-08-26,ipswich,1-0,sunderland,graham poll,portman road,['3807'],...,1-0,sunderland,14.0,9.0,5.0,3.0,True,True,True,True
23,3310,969,9,2000-08-26,man city,1-2,coventry,andy d'urso,maine road,['1462'],...,1-2,coventry,14.0,9.0,5.0,8.0,True,True,True,True
24,3311,970,9,2000-08-26,middlesbrough,1-2,leeds,graham barber,riverside stadium,['355'],...,1-2,leeds,15.0,16.0,8.0,11.0,True,True,True,True
25,3312,971,9,2000-08-26,newcastle,2-0,spurs,david elleray,st james' park,"['374', '3760']",...,2-0,spurs,15.0,10.0,6.0,2.0,True,True,True,True
26,3313,982,9,2000-08-26,southampton,3-3,liverpool,jeff winter,the dell,"['441', '441', '6260']",...,3-3,liverpool,14.0,9.0,7.0,4.0,True,True,True,True
27,3314,983,9,2000-08-26,west ham,2-2,man utd,dermot gallagher,upton park,"['6', '571']",...,2-2,man utd,17.0,8.0,8.0,5.0,True,True,True,True
28,3315,984,9,2000-08-27,aston villa,1-1,chelsea,paul durkin,villa park,['2024'],...,1-1,chelsea,12.0,11.0,9.0,7.0,True,True,True,True
29,3316,1101,9,2000-09-05,leeds,1-2,man city,graham poll,elland road,['227'],...,1-2,man city,6.0,8.0,1.0,3.0,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,3357,1732,9,2000-09-30,charlton,2-2,coventry,rob styles,the valley,"['1481', '6187']",...,2-2,coventry,12.0,10.0,8.0,6.0,True,True,True,True
71,3358,1733,9,2000-09-30,everton,0-3,ipswich,jeff winter,goodison park,[],...,0-3,ipswich,7.0,9.0,3.0,7.0,True,True,True,True
72,3359,1734,9,2000-09-30,leeds,4-3,spurs,neale barry,elland road,"['212', '212', '3586', '3586']",...,4-3,spurs,14.0,10.0,7.0,5.0,True,True,True,True
73,3360,1735,9,2000-09-30,man city,0-1,newcastle,paul taylor,maine road,[],...,0-1,newcastle,9.0,15.0,7.0,9.0,True,True,True,True
74,3361,1736,9,2000-09-30,southampton,1-3,middlesbrough,graham poll,the dell,['441'],...,1-3,middlesbrough,16.0,7.0,8.0,5.0,True,True,True,True
75,3362,1737,9,2000-09-30,west ham,1-1,bradford,mike dean,upton park,['564'],...,1-1,bradford,14.0,9.0,6.0,6.0,True,True,True,True
76,3363,1738,9,2000-10-01,arsenal,1-0,man utd,graham barber,highbury,['29'],...,1-0,man utd,7.0,13.0,5.0,4.0,True,True,True,True
77,3364,1739,9,2000-10-01,chelsea,3-0,liverpool,dermot gallagher,stamford bridge,"['3761', '1374']",...,3-0,liverpool,11.0,10.0,5.0,2.0,True,True,True,True
78,3365,1740,9,2000-10-01,sunderland,0-0,leicester,stephen lodge,stadium of light,[],...,0-0,leicester,11.0,8.0,5.0,2.0,True,True,True,True
79,3366,2013,9,2000-10-14,arsenal,1-0,aston villa,rob harris,highbury,['29'],...,1-0,aston villa,16.0,8.0,10.0,3.0,True,True,True,True
80,3367,2014,9,2000-10-14,coventry,2-1,spurs,peter jones,highfield road,"['135', '136']",...,2-1,spurs,0.0,4.0,5.0,5.0,True,True,True,True
81,3368,2015,9,2000-10-14,everton,1-1,southampton,david elleray,goodison park,['199'],...,1-1,southampton,7.0,7.0,3.0,4.0,True,True,True,True
82,3369,2016,9,2000-10-14,ipswich,1-1,west ham,neale barry,portman road,['2460'],...,1-1,west ham,11.0,7.0,8.0,2.0,True,True,True,True
83,3370,2017,9,2000-10-14,leeds,3-1,charlton,mike dean,elland road,"['212', '3586', '3586']",...,3-1,charlton,22.0,10.0,10.0,8.0,True,True,True,True
84,3371,2018,9,2000-10-14,leicester,0-3,man utd,paul durkin,filbert street,[],...,0-3,man utd,10.0,16.0,4.0,5.0,True,True,True,True
85,3372,2019,9,2000-10-14,man city,2-0,bradford,barry knight,maine road,"['1127', '6238']",...,2-0,bradford,13.0,10.0,10.0,2.0,True,True,True,True
86,3373,2020,9,2000-10-14,sunderland,1-0,chelsea,jeff winter,stadium of light,['470'],...,1-0,chelsea,16.0,11.0,11.0,2.0,True,True,True,True
87,3374,2021,9,2000-10-15,derby,0-4,liverpool,steve bennett,pride park,[],...,0-4,liverpool,6.0,16.0,0.0,11.0,True,True,True,True
88,3375,2047,9,2000-10-16,middlesbrough,1-3,newcastle,steve dunn,riverside stadium,['336'],...,1-3,newcastle,8.0,15.0,2.0,8.0,True,True,True,True
89,3376,2210,9,2000-10-21,bradford,0-2,ipswich,paul taylor,valley parade,[],...,0-2,ipswich,7.0,12.0,3.0,3.0,True,True,True,True
90,3377,2211,9,2000-10-21,charlton,1-0,middlesbrough,mike riley,the valley,['2481'],...,1-0,middlesbrough,5.0,8.0,2.0,6.0,True,True,True,True
91,3378,2212,9,2000-10-21,chelsea,6-1,coventry,stephen lodge,stamford bridge,"['107', '126', '3761', '3761', '3761', '3761']",...,6-1,coventry,33.0,3.0,19.0,3.0,True,True,True,True
92,3379,2213,9,2000-10-21,liverpool,1-0,leicester,andy d'urso,anfield,['271'],...,1-0,leicester,24.0,8.0,11.0,3.0,True,True,True,True
93,3380,2214,9,2000-10-21,man utd,3-0,leeds,jeff winter,old trafford,['304'],...,3-0,leeds,26.0,5.0,14.0,0.0,True,True,True,True
94,3381,2215,9,2000-10-21,newcastle,0-1,everton,mark halsey,st james' park,[],...,0-1,everton,11.0,9.0,4.0,4.0,True,True,True,True
95,3382,2216,9,2000-10-21,spurs,3-1,derby,mike dean,white hart lane,"['508', '508', '516']",...,3-1,derby,18.0,8.0,8.0,7.0,True,True,True,True
96,3383,2217,9,2000-10-21,west ham,1-2,arsenal,dermot gallagher,upton park,['582'],...,1-2,arsenal,11.0,13.0,3.0,5.0,True,True,True,True
97,3384,2218,9,2000-10-22,aston villa,0-0,sunderland,peter jones,villa park,[],...,0-0,sunderland,17.0,7.0,4.0,3.0,True,True,True,True
98,3385,2249,9,2000-10-23,southampton,0-2,man city,alan wiley,the dell,[],...,0-2,man city,19.0,11.0,6.0,4.0,True,True,True,True
99,3386,2399,9,2000-10-28,arsenal,5-0,man city,rob styles,highbury,"['2', '7', '29', '29', '2683']",...,5-0,man city,22.0,6.0,14.0,2.0,True,True,True,True

In [13]:
df.tail(100)

,premid,11id,season,date,home,score,away,ref,stadium,h_scorers,...,score2,away2,hs2,as2,hst2,ast2,home_agree,away_agree,score_agree,date_agree
6740,22623,356821,26,2018-03-03,burnley,2-1,everton,chris kavanagh,turf moor,['227123'],...,2-1,everton,21.0,10.0,8.0,4.0,True,True,True,True
6741,22625,356822,26,2018-03-03,leicester,1-1,bournemouth,lee probert,king power stadium,['241798'],...,1-1,bournemouth,23.0,8.0,4.0,3.0,True,True,True,True
6742,22626,356827,26,2018-03-03,liverpool,2-0,newcastle,graham scott,anfield,"['240705', '242743']",...,2-0,newcastle,14.0,7.0,3.0,2.0,True,True,True,True
6743,22628,356823,26,2018-03-03,southampton,0-0,stoke,anthony taylor,st mary's stadium,[],...,0-0,stoke,18.0,12.0,6.0,3.0,True,True,True,True
6744,22630,356825,26,2018-03-03,spurs,2-0,huddersfield,kevin friend,wembley stadium,"['241222', '241222']",...,2-0,huddersfield,15.0,3.0,7.0,3.0,True,True,True,True
6745,22629,356824,26,2018-03-03,swansea,4-1,west ham,martin atkinson,liberty stadium,"['227520', '231980', '236975', '253385']",...,4-1,west ham,9.0,7.0,8.0,2.0,True,True,True,True
6746,22631,356826,26,2018-03-03,watford,1-0,west brom,paul tierney,vicarage road,['226728'],...,1-0,west brom,15.0,9.0,4.0,2.0,True,True,True,True
6747,22622,356862,26,2018-03-04,brighton,2-1,arsenal,stuart attwell,amex stadium,"['42913', '232346']",...,2-1,arsenal,13.0,15.0,6.0,7.0,True,True,True,True
6748,22627,356863,26,2018-03-04,man city,1-0,chelsea,michael oliver,etihad stadium,['248892'],...,1-0,chelsea,13.0,3.0,3.0,0.0,True,True,True,True
6749,22624,356865,26,2018-03-05,crystal palace,2-3,man utd,neil swarbrick,selhurst park,"['229203', '229805']",...,2-3,man utd,10.0,17.0,4.0,8.0,True,True,True,True
6750,22634,356888,26,2018-03-10,chelsea,2-1,crystal palace,anthony taylor,stamford bridge,['229777'],...,2-1,crystal palace,27.0,9.0,11.0,2.0,True,True,True,True
6751,22635,356883,26,2018-03-10,everton,2-0,brighton,roger east,goodison park,['237370'],...,2-0,brighton,13.0,10.0,3.0,4.0,True,True,True,True
6752,22636,356884,26,2018-03-10,huddersfield,0-0,swansea,michael oliver,john smith's stadium,[],...,0-0,swansea,30.0,0.0,4.0,0.0,True,True,True,True
6753,22637,356882,26,2018-03-10,man utd,2-1,liverpool,craig pawson,old trafford,"['250719', '250719']",...,2-1,liverpool,5.0,14.0,2.0,2.0,True,True,True,True
6754,22638,356885,26,2018-03-10,newcastle,3-0,southampton,andre marriner,st james' park,"['249882', '249882', '229068']",...,3-0,southampton,7.0,6.0,5.0,2.0,True,True,True,True
6755,22640,356886,26,2018-03-10,west brom,1-4,leicester,bobby madley,the hawthorns,['228377'],...,1-4,leicester,6.0,14.0,2.0,6.0,True,True,True,True
6756,22641,356887,26,2018-03-10,west ham,0-3,burnley,lee mason,london stadium,[],...,0-3,burnley,13.0,7.0,4.0,4.0,True,True,True,True
6757,22632,356924,26,2018-03-11,arsenal,3-0,watford,martin atkinson,emirates stadium,"['226226', '230402', '230858']",...,3-0,watford,11.0,11.0,7.0,4.0,True,True,True,True
6758,22633,356925,26,2018-03-11,bournemouth,1-4,spurs,mike dean,vitality stadium,['229036'],...,1-4,spurs,14.0,12.0,3.0,8.0,True,True,True,True
6759,22639,356927,26,2018-03-12,stoke,0-2,man city,jonathan moss,britannia stadium,[],...,0-2,man city,3.0,17.0,0.0,6.0,True,True,True,True
6760,22642,356936,26,2018-03-17,bournemouth,2-1,west brom,graham scott,vitality stadium,"['229036', '238147']",...,2-1,west brom,17.0,11.0,5.0,6.0,True,True,True,True
6761,22644,356937,26,2018-03-17,huddersfield,0-2,crystal palace,mike dean,john smith's stadium,[],...,0-2,crystal palace,6.0,17.0,2.0,6.0,True,True,True,True
6762,22646,356939,26,2018-03-17,liverpool,5-0,watford,anthony taylor,anfield,"['240705', '240705', '240705', '240705', '2477...",...,5-0,watford,13.0,4.0,10.0,1.0,True,True,True,True
6763,22648,356938,26,2018-03-17,stoke,1-2,everton,martin atkinson,britannia stadium,[],...,1-2,everton,9.0,17.0,4.0,9.0,True,True,True,True
6764,22653,357035,26,2018-03-31,brighton,0-2,leicester,chris kavanagh,amex stadium,[],...,0-2,leicester,15.0,6.0,3.0,4.0,True,True,True,True
6765,22655,357034,26,2018-03-31,crystal palace,1-2,liverpool,neil swarbrick,selhurst park,['240682'],...,1-2,liverpool,6.0,16.0,3.0,6.0,True,True,True,True
6766,22656,357041,26,2018-03-31,everton,1-3,man city,paul tierney,goodison park,['228729'],...,1-3,man city,6.0,18.0,2.0,4.0,True,True,True,True
6767,22657,357036,26,2018-03-31,man utd,2-0,swansea,bobby madley,old trafford,"['236232', '225154']",...,2-0,swansea,11.0,3.0,5.0,2.0,True,True,True,True
6768,22658,357037,26,2018-03-31,newcastle,1-0,huddersfield,martin atkinson,st james' park,['242307'],...,1-0,huddersfield,18.0,4.0,3.0,0.0,True,True,True,True
6769,22660,357038,26,2018-03-31,watford,2-2,bournemouth,andy madley,vicarage road,"['238106', '239851']",...,2-2,bournemouth,16.0,13.0,5.0,6.0,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6810,22699,357434,26,2018-04-28,swansea,0-1,chelsea,jonathan moss,liberty stadium,[],...,0-1,chelsea,10.0,11.0,3.0,3.0,True,True,True,True
6811,22696,357472,26,2018-04-29,man utd,2-1,arsenal,kevin friend,old trafford,"['226571', '237205']",...,2-1,arsenal,17.0,8.0,3.0,3.0,True,True,True,True
6812,22701,357471,26,2018-04-29,west ham,1-4,man city,neil swarbrick,london stadium,['228982'],...,1-4,man city,4.0,19.0,1.0,7.0,True,True,True,True
6813,22700,357473,26,2018-04-30,spurs,2-0,watford,michael oliver,wembley stadium,"['230567', '238719']",...,2-0,watford,13.0,13.0,3.0,5.0,True,True,True,True
6814,22704,357489,26,2018-05-04,brighton,1-0,man utd,craig pawson,amex stadium,['255219'],...,1-0,man utd,11.0,16.0,4.0,3.0,True,True,True,True
6815,22703,357491,26,2018-05-05,bournemouth,1-0,swansea,kevin friend,vitality stadium,['240527'],...,1-0,swansea,13.0,12.0,5.0,3.0,True,True,True,True
6816,22706,357495,26,2018-05-05,everton,1-1,southampton,jonathan moss,goodison park,['251882'],...,1-1,southampton,9.0,11.0,3.0,5.0,True,True,True,True
6817,22707,357492,26,2018-05-05,leicester,0-2,west ham,chris kavanagh,king power stadium,[],...,0-2,west ham,13.0,13.0,2.0,3.0,True,True,True,True
6818,22709,357490,26,2018-05-05,stoke,1-2,crystal palace,martin atkinson,britannia stadium,['230444'],...,1-2,crystal palace,7.0,13.0,2.0,2.0,True,True,True,True
6819,22710,357493,26,2018-05-05,watford,2-1,newcastle,roger east,vicarage road,"['230145', '238106']",...,2-1,newcastle,11.0,9.0,8.0,1.0,True,True,True,True
6820,22711,357494,26,2018-05-05,west brom,1-0,spurs,mike jones,the hawthorns,['228526'],...,1-0,spurs,9.0,18.0,1.0,5.0,True,True,True,True
6821,22702,357521,26,2018-05-06,arsenal,5-0,burnley,andre marriner,emirates stadium,"['230858', '230858', '236297', '240028', '2413...",...,5-0,burnley,16.0,6.0,8.0,2.0,True,True,True,True
6822,22705,357522,26,2018-05-06,chelsea,1-0,liverpool,anthony taylor,stamford bridge,['239106'],...,1-0,liverpool,12.0,10.0,4.0,5.0,True,True,True,True
6823,22708,357520,26,2018-05-06,man city,0-0,huddersfield,mike dean,etihad stadium,[],...,0-0,huddersfield,15.0,5.0,2.0,3.0,True,True,True,True
6824,22649,357535,26,2018-05-08,swansea,0-1,southampton,michael oliver,liberty stadium,[],...,0-1,southampton,11.0,13.0,3.0,8.0,True,True,True,True
6825,22685,357537,26,2018-05-09,chelsea,1-1,huddersfield,lee mason,stamford bridge,['236299'],...,1-1,huddersfield,22.0,3.0,5.0,2.0,True,True,True,True
6826,22645,357536,26,2018-05-09,leicester,3-1,arsenal,graham scott,king power stadium,"['238653', '241798', '249825']",...,3-1,arsenal,19.0,14.0,10.0,7.0,True,True,True,True
6827,22647,357538,26,2018-05-09,man city,3-1,brighton,paul tierney,etihad stadium,"['239141', '248892', '197129']",...,3-1,brighton,19.0,6.0,7.0,3.0,True,True,True,True
6828,22650,357539,26,2018-05-09,spurs,1-0,newcastle,neil swarbrick,wembley stadium,['230567'],...,1-0,newcastle,11.0,14.0,7.0,3.0,True,True,True,True
6829,22651,357540,26,2018-05-10,west ham,0-0,man utd,jonathan moss,london stadium,[],...,0-0,man utd,9.0,16.0,2.0,6.0,True,True,True,True
6830,22712,357541,26,2018-05-13,burnley,1-2,bournemouth,paul tierney,turf moor,['229879'],...,1-2,bournemouth,12.0,16.0,4.0,5.0,True,True,True,True
6831,22713,357542,26,2018-05-13,crystal palace,2-0,west brom,jonathan moss,selhurst park,"['229203', '230883']",...,2-0,west brom,11.0,7.0,5.0,1.0,True,True,True,True
6832,22714,357543,26,2018-05-13,huddersfield,0-1,arsenal,michael oliver,john smith's stadium,[],...,0-1,arsenal,18.0,9.0,3.0,4.0,True,True,True,True
6833,22715,357544,26,2018-05-13,liverpool,4-0,brighton,kevin friend,anfield,"['225036', '240705', '242341', '242901']",...,4-0,brighton,22.0,2.0,11.0,1.0,True,True,True,True
6834,22716,357545,26,2018-05-13,man utd,1-0,watford,lee mason,old trafford,['250719'],...,1-0,watford,7.0,7.0,1.0,3.0,True,True,True,True
6835,22717,357546,26,2018-05-13,newcastle,3-0,chelsea,martin atkinson,st james' park,"['239788', '242307', '242307']",...,3-0,chelsea,16.0,6.0,6.0,2.0,True,True,True,True
6836,22718,357547,26,2018-05-13,southampton,0-1,man city,andre marriner,st mary's stadium,[],...,0-1,man city,8.0,13.0,3.0,2.0,True,True,True,True
6837,22720,357549,26,2018-05-13,spurs,5-4,leicester,craig pawson,wembley stadium,"['230567', '237870', '237870', '230567']",...,5-4,leicester,14.0,16.0,6.0,9.0,True,True,True,True
6838,22719,357548,26,2018-05-13,swansea,1-2,stoke,anthony taylor,liberty stadium,['227520'],...,1-2,stoke,26.0,8.0,11.0,5.0,True,True,True,True
6839,22721,357550,26,2018-05-13,west ham,3-1,everton,graham scott,london stadium,"['228761', '249687', '249687']",...,3-1,everton,15.0,14.0,4.0,7.0,True,True,True,True

In [14]:
df_disagree = df[[not(x) for x in df.home_agree]]

In [15]:
df_disagree.shape

(0, 35)

In [16]:
df_disagree['home2']

Series([], Name: home2, dtype: object)

In [17]:
df.columns

Index(['premid', '11id', 'season', 'date', 'home', 'score', 'away', 'ref',
       'stadium', 'h_scorers', 'a_scorers', 'h_players', 'a_players', 'hPos',
       'hGSPG', 'hGCPG', 'hCSPG', 'hPtsPG', 'aPos', 'aGSPG', 'aGCPG', 'aCSPG',
       'aPtsPG', 'date2', 'home2', 'score2', 'away2', 'hs2', 'as2', 'hst2',
       'ast2', 'home_agree', 'away_agree', 'score_agree', 'date_agree'],
      dtype='object')

In [18]:
df.drop(['date2','home2','score2','away2','home_agree','away_agree','score_agree','date_agree'],inplace=True,axis=1)

In [19]:
df.columns

Index(['premid', '11id', 'season', 'date', 'home', 'score', 'away', 'ref',
       'stadium', 'h_scorers', 'a_scorers', 'h_players', 'a_players', 'hPos',
       'hGSPG', 'hGCPG', 'hCSPG', 'hPtsPG', 'aPos', 'aGSPG', 'aGCPG', 'aCSPG',
       'aPtsPG', 'hs2', 'as2', 'hst2', 'ast2'],
      dtype='object')

In [20]:
df.to_csv("main_with_shots.csv",index=False)