In [8]:
import pandas as pd

In [13]:
df = pd.read_csv("all_match_data_fix4.csv")

In [14]:
len(set(df['Home Team'].tolist()))

49

In [15]:
def replace_names(row,col):
    team = row[col]
    if team == "afc bournemouth":
        return "bournemouth"
    elif team == "birmingham city":
        return "birmingham"
    elif team == "blackburn rovers":
        return "blackburn"
    elif team == "bolton wanderers":
        return "bolton"
    elif team == "bradford city":
        return "bradford"
    elif team == "brighton and hove albion":
        return "brighton"
    elif team == "cardiff city":
        return "cardiff"
    elif team == "charlton athletic":
        return "charlton"
    elif team == "coventry city":
        return "coventry"
    elif team == "derby county":
        return "derby"
    elif team == "huddersfield town":
        return "huddersfield"
    elif team == "hull city":
        return "hull"
    elif team == "ipswich town":
        return "ipswich"
    elif team == "leeds united":
        return "leeds"
    elif team == "leicester city":
        return "leicester"
    elif team == "manchester city":
        return "man city"
    elif team == "manchester united":
        return "man utd"
    elif team == "newcastle united":
        return "newcastle"
    elif team == "norwich city":
        return "norwich"
    elif team == "oldham athletic":
        return "oldham"
    elif team == "queens park rangers":
        return "qpr"
    elif team == "sheffield united":
        return "sheffield utd"
    elif team == "sheffield wednesday":
        return "sheffield wed"
    elif team == "stoke city":
        return "stoke"
    elif team == "swansea city":
        return "swansea"
    elif team == "swindon town":
        return "swindon"
    elif team == "tottenham hotspur":
        return "spurs"
    elif team == "west bromwich albion":
        return "west brom"
    elif team == "west ham united":
        return "west ham"
    elif team == "wigan athletic":
        return "wigan"
    elif team == "wolverhampton wanderers":
        return "wolves"
    else:
        return team

In [16]:
df['Home Team'] = df.apply(replace_names,args=('Home Team',),axis=1)
df['Away Team'] = df.apply(replace_names,args=('Away Team',),axis=1)
len(set(df['Home Team'].tolist()))

49

In [17]:
df.head()

,11v11 ID,Date,Home Team,Away Team,Stadium,Referee,Home Players,Away Players,Home Scorers,Away Scorers
0,20787,15081992,arsenal,norwich,highbury,alan gunn,"['5(90)', '14(90)', '31(90)', '484(90)', '20(9...","['38002(90)', '24730(90)', '26985(90)', '4690(...","['196', '484']","['511', '2266', '2266', '38680']"
1,20788,15081992,chelsea,oldham,stamford bridge,jim borrett,"['4048(90)', '35852(90)', '24035(90)', '4755(9...","['1388(90)', '34467(90)', '76(90)', '1550(90)'...",['37518'],['1427']
2,20789,15081992,coventry,middlesbrough,highfield road,howard king,"['151(90)', '6177(90)', '25821(90)', '25248(90...","['25259(90)', '3723(90)', '34052(90)', '3471(9...","['1062', '5386']",['11296']
3,20790,15081992,crystal palace,blackburn,selhurst park,roger milford,"['234(90)', '34632(90)', '36445(90)', '995(81)...","['5223(90)', '27669(90)', '3482(90)', '302(90)...","['43', '2074', '37263']","['362', '362', '448']"
4,20791,15081992,everton,sheffield wed,goodison park,kelvin morton,"['2448(90)', '32094(90)', '4172(90)', '188(90)...","['25058(90)', '25496(90)', '15912(90)', '34286...",['400'],['34286']

In [18]:
df.to_csv("all_match_data_fix5.csv",index=False)